{% extends 'base.html' %}
{% load static %}

{% block css %}<!-- css part -->
<link rel="stylesheet" href="{% static 'css/seller.css' %}">
{% if request.session.usertype == NULL %}
<meta http-equiv='refresh' content='1;url={% url 'flea:homepage' %}'>
{% elif request.session.usertype != "seller" %}
<meta http-equiv='refresh' content="1;url='/{{request.session.usertype}}/'">
{% endif %}
{% if request.session.usertype == NULL or request.session.usertype != "seller" %}
<style>body{display:none;}</style>
{% endif %}
{% endblock %}

{% block inner %}<!-- inner part -->
<div id="menu">
    <a>_for seller</a>
    <a href="{% url 'flea:seller' %}?page=home">Home</a>
    <a href="{% url 'flea:seller' %}?page=list">Product List</a>
    <a href="{% url 'flea:connect' %}">Connect Us</a>
</div>
{% if request.GET.page == "home" or request.GET.page == NULL %}
<div id="ad">
    <img src="{% static 'image/logo.png' %}">
    <div id='logoInner'>
        <span>Fun Shopping</span><br>
        <span>SKKU FLEA MARKET</span><br><br>
        <span>Anabada is a Korean word which has four meanings - "Saving, Sharing, Exchanging, and Reusing". The campaign has helped South Korea overcome financially hard times.</span>
        <button onclick="showUploadTable()" id='showUploadTable'>Upload Product!</button>
    </div>
</div>
<div id='addProductTable' style="display: none;">
    <div id="imagebox" onclick="selectImage()">
        <span>Click here to browse</span><br><span>your product image file</span>
    </div>
    <div id='pic' onclick='selectImage()' style='display:none'><img src='' id='imageShow'></div>
    <table id='inputTable'>
        <tr><td><input type='text' placeholder='Enter Product Name' id='productName' class='input'></td></tr>
        <tr><td><input type='text' placeholder='Enter Product Price' id='productPrice' class='input'></td></tr>
        <tr><td><input type='text' placeholder='Enter Your Name' id='sellerName' class='input'></td></tr>
        <tr><td><input type='telephone' placeholder='Enter Your Phone Number' id='sellerPhone' class='input'></td></tr>
        <tr><td><input type='text' placeholder='Enter Trading Place' id='address' class='input'></td></tr>
        <tr><td><input type='checkbox' id='flea' onclick="selectSellType('flea')"><label for='flea'>Flea Market</label></td></tr>
        <tr><td><input type='checkbox' id='auction' onclick="selectSellType('auction')"><label for='auction'>Auction</label></td></tr>
        <tr id='endtimebox'>
            <td>
                <label for='endtime'>End Time: </label>
                <input type="number" id='endtime' class="input">
                Hour(s)
            </td>
        </tr>
        <tr><td style='float:right;'><button onclick='addProduct()' class='submitButtons'>Sell Now</button></td></tr>
    </table>
</div>
<input type='file' accept='image/*' style='display:none' id='hideInput' onchange='showImage(this)'>
{% elif request.GET.page == "list" %}
<div id="allProducts">
    <button onclick="showUploadTable()">Add Product</button>
    <table rules="none">
        <tr><th>Product Name</th><th>Current Price</th><th>Trade Place</th><th>Status</th><th>History</th><th>Delete</th></tr>
        {% now "Y-m-d-s" as time %}
        {% for pro in products %}
        <tr id="id{{pro.id}}" name="product" data-id="{{pro.id}}"><td onclick="accountChange('productName{{pro.id}}')" id='productName{{pro.id}}'>{{pro.productName}}</td>
            <td>{{pro.price}}</td>
            <td onclick="accountChange('tradePlace{{pro.id}}')" id='tradePlace{{pro.id}}'>{{pro.tradePlace}}</td>
            <td >
                {% if pro.sellType == "0" %}
                    {% if pro.buyer == -1 %}
                        Selling
                    {% else %}
                        Sold
                    {% endif %}
                {% elif pro.sellType == "1" %}
                    {% if pro.endTime|date:"Y-m-d-s" > time %}
                        Bidding
                    {% else %}
                        End Bidded
                    {% endif %}
                {% endif %}
            </td>
            <td>
                {% for a in auction %}
                    {% if a.product == pro.id %}
                        <span>
                            {% for u in users %}
                                {% if u.id == a.bidder %}
                                    {{u.username}}:
                                {% endif %}
                            {% endfor %}
                            {{a.uploadTime}}({{a.price}})</span><br>
                    {% endif %}
                {% endfor %}
            </td>
            <td><button onclick="deleteProduct('{{pro.id}}')" style="color: #000000;background: white;border: none;">Delete</button></td>
        </tr>
        {% empty %}
        <tr><td colspan="6" style="text-align: center;">No Data</td></tr>
        {% endfor %}
    </table>
    <button onclick="saveProducts()" id="save">SAVE</button>
</div>
<div id='addProductTable' style="display: none;">
    <div id="imagebox" onclick="selectImage()">
        <span>Click here to browse</span><br><span>your product image file</span>
    </div>
    <div id='pic' onclick='selectImage()' style='display:none'><img src='' id='imageShow'></div>
    <table id='inputTable'>
        <tr><td><input type='text' placeholder='Enter Product Name' id='productName' class='input'></td></tr>
        <tr><td><input type='text' placeholder='Enter Product Price' id='productPrice' class='input'></td></tr>
        <tr><td><input type='text' placeholder='Enter Your Name' id='sellerName' class='input'></td></tr>
        <tr><td><input type='telephone' placeholder='Enter Your Phone Number' id='sellerPhone' class='input'></td></tr>
        <tr><td><input type='text' placeholder='Enter Trading Place' id='address' class='input'></td></tr>
        <tr><td><input type='checkbox' id='flea' onclick="selectSellType('flea')"><label for='flea'>Flea Market</label></td></tr>
        <tr><td><input type='checkbox' id='auction' onclick="selectSellType('auction')"><label for='auction'>Auction</label></td></tr>
        <tr id='endtimebox'>
            <td>
                <label for='endtime'>End Time: </label>
                <input type="number" id='endtime' class="input">
                Hour(s)
            </td>
        </tr>
        <tr><td style='float:right;'><button onclick='addProduct()' class='submitButtons'>Sell Now</button></td></tr>
    </table>
</div>
<input type='file' accept='image/*' style='display:none' id='hideInput' onchange='showImage(this)'>
{% endif %}

{% endblock %}

{% block script %}<!-- script part -->
{% endblock %}