#ad{
    width: 100%;
    height: 600px;
    background: #d5f2fa;
}

#ad img{
    position: relative;
    top: 200px;
    height: 300px;
}

#logoInner{
    width: 60%;
    height: 100%;
    float: right;
	box-sizing: border-box;
	padding-top: 200px;
	padding-left: 10%;
    padding-right: 10%;
}

#logoInner span{
    font-family: courier;
}

#logoInner span:nth-of-type(1){
	font-size: 28px;
	color: rgb(43,42,42);
}

#logoInner span:nth-of-type(2){
	font-size: 47px;
	color: #000000;
	font-weight: bolder;
}

#logoInner span:nth-of-type(3){
	font-size: 14px;
	color: rgb(114,113,113);
	font-weight: lighter;
}

#showSearchingPage{
	border: none;
	margin-top: 100px;
	text-decoration: underline;
}

#searchbox{
	width: 60%;
	margin: 200px auto;
	background: #f8f7ff;
	border-radius: 10px;
	box-shadow: 0 10px 10px whitesmoke;
	padding: 20px;
}

#searchtype{
	width: 200px;
	height: 30px;
	margin-left: 20px;
}

.search{
	width: 40px;
	height: 40px;
	border-radius: 10px;
	background: url('../image/search.png') center center;
	background-size: 100% 100%;
	margin-left: 200px;
	border: none;
}

#searchingByPrice{
	display: none;
}

input{
	width: 200px;
	height: 30px;
}

#searchingSeller,
#hightprice,
#lowprice,
#searchingName{
	height: 40px;
	width: 300px;
}

table{
	margin-top:50px;
	width:100%;
}

#searchingByPrice,
#searchingBySeller{
	display: none;
}

#searchingReasult{
	width: 60%;
	margin: 100px auto;
	margin-bottom: 500px;
}

#searchingReasult table{
	width: 100%;
	text-align: left;
	box-shadow: grey 0 0 10px;
	border-radius: 10px;
	line-height: 64px;
}

th{
	background: #36304a;
	color: #FFFFFF;
	font-size: 20px;
	padding-left: 10px;
}

#searchingReasult th:first-child{
	border-radius: 10px 0 0 0;
}

#searchingReasult th:last-child{
	border-radius: 0 10px 0 0;
}

#searchingReasult tr:nth-child(even){
	background: #f8f7ff;
}

#searchingReasult tr:nth-child(odd){
	background: #ffffff;
}

td{
	padding-left: 10px;
	color: rgb(158,158,158);
	font-size: 17px;
	font-weight: 100;
}

#menu{
    position: absolute;
    top:10px;
	height: 60px;
	left: 37%;
	width: 40%;
}

#menu a{
	line-height: 60px;
	font-size: 15px;
	margin-right: 8%;
}

.buyerTables{
    width: 60%;
	margin: 100px auto;
	margin-bottom: 100px;
}

.buyerTableItem{
	width: 100%;
	text-align: left;
	box-shadow: grey 0 0 10px;
	border-radius: 10px;
	line-height: 64px;
}

.buyerTableItem th:first-child{
	border-radius: 10px 0 0 0;
}

.buyerTableItem th:last-child{
	border-radius: 0 10px 0 0;
}

.buyerTableItem tr:nth-child(even){
	background: #f8f7ff;
}

.buyerTableItem tr:nth-child(odd){
	background: #ffffff;
}