#menubox{
	width: 60%;
	margin: 100px auto;
	height: 600px;
}

label{
    font-family: courier;
}

.box{
	width: 49%;
	float: left;
	height: 600px;
}

.left{
	background: #4c5ced;
	text-align: center;
}

.left span{
	color: white;
	font-family: papyrus;
	position: relative;
}

.left span:nth-of-type(1){
	font-size: 28px;
	font-weight: bolder;
	top:200px;
}

.left span:nth-of-type(2){
	font-size: 20px;
	font-weight: lighter;
	top:200px;
}

.left button{
	color: #FFFFFF;
	width: 200px;
	position: relative;
	top:270px;
}

.left button:hover{
	color: #4c5ced;
	background: #FFFFFF;
}

.right{
	box-shadow: 5px 5px 5px lightgray;
	text-align: center;
}

.right span:nth-of-type(1){
	position: relative;
	top:50px;
	font-family: nina;
	font-size: 21px;
	color: #000000;
}

#id{
	width: 274px;
	height: 25px;
	border: none;
	border-bottom: 1px solid rgb(168,168,168);
	font-size: 15px;
	position: relative;
	top:70px;
}

#checkid{
	border-radius: 0;
	margin-top: 16px;
	font-weight: bold;
	position: relative;
	top:70px;
}

#typeB,
#s,
#b,
#typeS{
	position: relative;
	top: 70px;
	font-size: 16px;
	margin-left: 5px;
}

#password,
#spassword,
#email{
	width: 358px;
	height: 25px;
	border: none;
	border-bottom: 1px solid rgb(168,168,168);
	font-size: 15px;
	margin-top: 30px;
	position: relative;
	top:50px;
}

#submit{
	width: 358px;
	background-color: #c5312d;
	border-radius: 0;
	border: none;
	color: #FFFFFF;
	font-size: 13px;
	font-weight: bolder;
	margin-top: 40px;
	position: relative;
	top:70px;
}

#state{
	position: relative;
	top:70px;
	margin-left: 20px;
}