body{
	margin: 0;
}

a{
	text-decoration: none;
	color: #012e5d;
}

button{
	height: 40px;
	background: rgba(0,0,0,0);
	border: 1px solid #a8a8a8;
	border-radius: 20px;
	font-size: 15px;
	font-weight: bolder;
	font-family: courier;
}

#topbar{
	width: 100%;
	height: 60px;
	box-shadow: 0 5px 5px lightgrey;
}

#logo{
	font-size: 27px;
	color: #012e5d;
	margin-left: 20%;
	line-height: 60px;
	font-weight: bolder;
}

#footer{
	width: 100%;
	position: fixed;
	bottom: 0;
	height: 60px;
	font-size: 18px;
	text-align: center;
	line-height: 60px;
	color: #FFFFFF;
	background: #012e5d;
}